body
{ background-color: purple;}
.ColorBlanco {color: white;}
h1 { font-size: 250%;} { align-content: }
h1 {text-align: center;}
h1 {background-color: black;}
h1 { text-decoration: underline;}
